<form action="/todos" class="form-inline" method="POST">
  <div class="form-group">
    <input type="text" name="description">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>

<hr>

<ul class="list-group">
  <% @tasks.each do |task| %>
    <%# unless task.completed %>
      <li class="list-group-item <%= task.completed? ? 'completed': '' %>" data-id="<%= task.id %>">
        <div class="checkbox">
          <input type="checkbox" class="done-checkbox" <%= task.completed? ? 'checked': '' %> >
          <span class="description"><%= task.description %> <em><%= task.created_at %></em></span>
        </div>  
      </li>
    <%# end %>
  <% end %>
</ul>